
@{
	ViewBag.Title = "Add";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title> Add Item</title>

</head>

<body>
	<div class="mt-3">
		@using (Html.BeginForm())
		{
			<div>

				@Html.Partial("AddEdit")

				<input type="submit" value="Add" class="btn btn-primary" />

				@Html.ActionLink("Cancel", "Index", "Item", new { @class = "btn btn-primary" })

			</div>

		}
	</div>

</body>
</html>

@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
}