@model Item

	<div class="row">
		<div class="col-2"> <label>Id:</label></div>
		<div class="col"> <label>@Model.id</label></div>
	</div>
	<div class="row">
		<div class="col-2"> <label>Name:</label></div>
		<div class="col"> <label>@Model.name</label></div>
	</div>
	<div class="row">
		<div class="col-2"> <label>Quantity:</label></div>
		<div class="col"> <label>@Model.quantity</label></div>
	</div>